NODE_ENV=dev
APP="Your App"
PORT=5000
HOSTNAME=http://localhost:5000
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
APP_SECRET=
MONGOURI=
STREAM_API_KEY=
STREAM_API_SECRET=
GITHUB_APP_ID=
GITHUB_APP_INSTALLATIONID=
GITHUB_APP_PRIVATE_KEY=
GITHUB_USER_API_TOKEN=